@font-face{
    font-family: Moscow;
    font-weight: normal;
    font-style: normal;
 src: url(Moscow\ Sans\ Regular\ Regular.ttf);}
header{
    background: wheat;
    padding: 20px;
    text-align: center;}
 body{
    background-color: rosybrown;
    font-family: Moscow;
    font-weight: 300;
    margin: 0px;
    border: 7px solid tan;
}
h1{
    color: yellowgreen;}
h2{
    color: indigo;}
h3{
    color: orange;}
h4{
    color: paleturquoise;}
h5{
    color: aqua;}
h6{color: skyblue;}
a{
    padding: 10px;
    color: darkblue;}
nav a{
    color: forestgreen;
    text-align: center;
    padding: 10px;
    text-decoration: solid underline gold;}
nav a:hover {
    color: hotpink;
    background-color: khaki;}
nav{
    font-size: 25px;}
